body {
  margin: 0;
  width: 300px;
  height: fit-content;
  font-size: 14px;
  user-select: none;
  border-radius: 0;
  opacity: 0.9;
  backdrop-filter: blur(10px);
}

#list {
  margin: 0;
  padding: 4px 0;
  list-style: none;
  width: 300px;
  height: fit-content;
  background: #a1a6a9;
  border-radius: 5px;
}

.item {
  margin: 0;
  padding: 0 40px 0 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 0.2s all;
  position: relative;
}

.index {
  position: absolute;
  right: 16px;
  top: 0px;
  width: 5px;
}

.item:hover {
  background-color: #075ecb;
  color: #ffffff;
}
